{% extends "topnav.html" %}
{% block head %}
    <title>Inbox</title>
<script>
	$(function () {
    $('.checkall').click(function () {
        $(this).parents('tbody:eq(0)').find(':checkbox').attr('checked', this.checked);
    });
});
</script>
{% endblock %}


{% block content %}

<div class="row">
	<div class="span7">
		<p>&nbsp;</p>
		<p>&nbsp;</p>
    	<h2 align="center">Inbox </h2>
		<p>&nbsp;</p>

		{% if data.messages.count > 0 %}
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
		<table class="table table-hover">
			<thead>
			<tr>
				<th>chk</th>
				<th>Id</th>
				<th>Message</th>
				<th>From</th>
				<th>Timestamp</th>
			</tr>
			</thead>
			<tbody>
			{% for m in data.messages %}
			<tr>
                <td>
                	<label class="checkbox">
                    <input type="checkbox" name="todelete" value="{{m.pk}}"/>
                    </label>
                </td>
				<td>{{m.pk}}</td>
				<td>{{m.body}}</td>
				<td>{{m.user.username}}</td>
				<td>{{m.created_at|date:"j/n G:ia"}}</td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan="5">
				<label class="checkbox">
	                <input type="checkbox" class="checkall"/>
	                Select all messages.
	            </label>
	            </td>
			</tr>
			</tbody>
		</table>
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn btn-primary">Delete selected Message</button>
		    </div>
		  </div>
		</form>
<br>
<hr />
					
		{% else %}
		<p>&nbsp;</p>
		<p>&nbsp;Your Inbox is empty brother.</p>
		{% endif %}

    </div>
    <div class="span4">
    	<br />
    	<br />
    	<br />
    	<br />
    	<br />
      <h2 align="right">Choose limits</h2>
		<form class="form-horizontal" method="GET">
			{% csrf_token %}
			  <div class="control-group">
			    <label class="control-label" for="id_start">Start from</label>
			    <div class="controls">
			      <input type="text" id="id_start" name="start" placeholder="Most Recent">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="id_limit">Number of messages</label>
			    <div class="controls">
			      <input type="text" id="id_start" name="limit" placeholder="10">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <button type="submit" class="btn btn-primary">Change limits</button>
			    </div>
			  </div>
		</form>
    </div>
    
    
</div>

{% endblock %}