{% extends "topnav.html" %}
{% block head %}
    <title>Compose</title>
{% endblock %}


{% block content %}
<script>
	$(function () {
    $('.checkall').click(function () {
        $(this).parents('div:eq(0)').find(':checkbox').attr('checked', this.checked);
    });
});
</script>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
        	<p>&nbsp;</p>
        	<p>&nbsp;</p>
          <h2 align="center">POST Message</h2>
          <p>&nbsp;</p>
			<!-- An exemplar signup form -->

			<form class="form-horizontal" method="POST">
				{% csrf_token %}
				{% if data.status %}
				    <p>{{data.status}}</p>
				{% endif %}
				
				{% for r in data.departments %}
				  <div class="control-group">
				    <label class="control-label">{{r.name}}</label>
				    <div class="controls">
				    {% for u in r.userprofile_set.all %}
		                <label class="checkbox">
		                    <input type="checkbox" name="usernames" value="{{u.user.pk}}"/>
		                    {{u.user.username}}
		                </label>
				    {% endfor %}
		                <label class="checkbox">
		                    <input type="checkbox" class="checkall"/>
		                    Select all in this group.
		                </label>
				    </div>
				  </div>
				{% endfor %}

				  <div class="control-group">
				    <label class="control-label">Message</label>
				    <div class="controls">
		                <textarea rows="5" name="message">{{data.body}}</textarea>
		                <span class="help-block">Type the message here</span>
				    </div>
				  </div>
				  <div class="control-group">
				    <div class="controls">
				      <button type="submit" class="btn btn-primary">Send Message</button>
				    </div>
				  </div>
			</form>
        </div>

        <div class="span4">
        	<p>&nbsp;</p>
        	<p>&nbsp;</p>
          <h2>Your Inbox</h2>
          {% if data.messages.count > 0 %}
			<table class="table table-hover " >
				<thead>
				 <tr>
					<th>Time</th>
					<th>From</th>
					<th>Message</th>
				 </tr>
				</thead>
				<tbody>
				{% for m in data.messages %}
				<tr>
					<td>
						<a href="#" class="" rel="popover" data-content="{{m.body}}" data-original-title="">
							{{m.created_at|date:"j/n"}}
						</a>
					</td>
					<td>{{m.user.username}}</td>
					<td>{{m.body|slice:"30"}}{% if m.body|length > 30 %}...{% endif %}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		  		
		  {% else %}
		  	<p>&nbsp;</p>
			<p>&nbsp;Your Inbox is empty brother.</p>
		  {% endif %}
        
        </div>
      
      </div> <!-- /row -->

{% endblock %}
