{% extends "topnav.html" %}
{% block head %}
    <title>Edit Profile</title>
{% endblock %}

{% block content %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">

		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
          <h2 align="center">Edit Profile ({{user.username}}) </h2>
          <p>&nbsp;</p>

			<!-- An exemplar signup form -->
			<form class="form-horizontal" method="POST">
			  {% csrf_token %}
				{% if data.status == 'success' %}
				    <p>Your profile is saved successfully.</p>
				{% endif %}

			  <div class="control-group">
			    <label class="control-label" for="id_username">Username</label>
			    <div class="controls">
			      <input type="text" id="id_username" name="username" value="{{data.username}}" readonly="readonly" />
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" >Department</label>
			    <div class="controls">
	                <select name="department">
	                	{% for r in data.departments %}
	                	{{data.current_department}} {{r.id}}
	                    <option value="{{r.id}}" {% ifequal data.current_department r.id %}selected="selected"{% endifequal %}>{{r.name}}</option>
	                    {% endfor %}
	                </select>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="id_password">Change Password</label>
			    <div class="controls">
			      <input type="password" id="id_password" name="password" placeholder="Password">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <button type="submit" class="btn btn-primary">Save it</button>
			    </div>
			  </div>
			</form>
		</div>
	  </div> <!-- /row -->
{% endblock %}
