{% extends "base.html" %}

{% block topnav %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Chatlogs</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                {% if user.is_authenticated %}
                <li class="{% ifequal request.path "/chatlogs/post/" %}active{% endifequal %}"><a href="{% url post_msg %}">Post message</a></li>
                <li class="{% ifequal request.path "/chatlogs/get/" %}active{% endifequal %}"><a href="{% url get_msg %}">Get messages</a></li>
                <li class="{% ifequal request.path "/profile/" %}active{% endifequal %}"><a href="{% url profile %}">Edit Profile</a></li>
                {% else %}
                <li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Home</a></li>
                <li class="{% ifequal request.path "/signup/" %}active{% endifequal %}"><a href="{% url signup %}">Signup</a></li>
                {% endif %}
              
            </ul>
            {% if user.is_authenticated %}
            <ul class="nav pull-right">
            	<li><a>Welcome {{request.user.username}}</a></li>
            	<li><a href="{% url logout %}">Logout</a></li>
            </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
{% endblock %}


{% block footer %}
<hr>
<!-- Footer -->
      <footer>
        <p>&copy; Prakhar Goel 2012</p>
      </footer>

{% endblock %}